waypoint {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

waypoint:not(:last-child) {
	margin-bottom: 10px;
}
